// headers based on medium screen/base of 16px
$font-sizes: (
  base-large: 18px,
  base-medium: 16px,
  base-small: 14px,
  base: rem(16),
  h1: rem(49),
  h2: rem(39),
  h3: rem(31),
  h4: rem(25),
  h5: rem(20),
  label: rem(13),
);

