$mobile-dashboard-padding: 16px;

$spacing: (
  section: rem(70),
  large: rem(55),
  triple: rem(40),
  double: rem(32),
  base: rem(24),
  third: rem(20),
  half: rem(16),
  quarter: rem(12),
  paragraph: rem(8),
  element: rem(4)
);

$media-breakpoints: (
  small: 0 600,
  mobile: 601 800,
  tablet: 801 1200,
  desktop: 1201 1600,
  full-size: 1601,
);

$zindex: (
  hidden: -2,
  behind: -1,
  base: 0,
  page: 1,
  dropdown: 2,
  fixed: 3,
  modal-overlay: 4,
  modal-window: 5,
  loading: 6
);
